branca==0.7.0
folium==0.15.1
geopandas==0.14.3
geopy==2.4.1
matplotlib==3.8.2
numpy==1.26.4
pandas==2.2.2
Requests==2.31.0
Shapely==2.0.3
streamlit==1.31.1
streamlit_folium==0.18.0
tables==3.9.2
